@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter, sans-serif;
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
